doctype html
html
	head
	link(rel='stylesheet', href='../style.css')
	body
		#nav
			a(href='/') Home

			a(href='/wall') Wall

			a(href='/submit') Submit

	h2 Wall of Bulletinsss$s
	each message in messages 
		p Title: #{message.title}
		p Body: #{message.body}
		p --
